* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background: none;
}

.brand {
  display: flex;
  align-items: center;
  margin: 1rem;
  gap: 1rem;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menu {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  background: #8c6bc7;
}

.menu ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.menu a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #f7f7f8;
  font-weight: 500;
}

.nav-toggle {
  display: block;

  text-decoration: none;
  text-align: center;
  color: #f7f7f8;

  /* border: none;*/

  cursor: pointer;

  height: 1rem;
  width: 1rem;

}

@media (max-width: 30rem) {
  .brand {
    flex-direction: column;
    text-align: center;
  }
}
