* {
  box-sizing: border-box;
  background: none;

  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

body {
  margin: 0px;
  padding: 0px;
}

a {
  color: #c55f00;
  text-decoration: none;
}

